html,body {
    height: 100%
}
h2 {
    font-size: 30px;/*line-height: 54px;*/font-weight: 700;letter-spacing: 0.025em;
}
h3 {font-size: 20px;line-height: 1.2;font-weight: 700;letter-spacing: 0.025em;}
h4 {font-size: 18px;line-height: 26px;font-weight: 700;letter-spacing: 0.025em;}
h5 {
    
line-height: 54px;
font-weight: 400;
letter-spacing: 0.025em;
color: #9f9f9f;
} 
h6{font-size: 14px;line-height: 32px;font-weight: 400;text-transform: uppercase;letter-spacing: 0.025em;color: #232323;}
.rose {color:#f16d7f;}
body {
    font-family: 'lato', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    color:#222222;
}
/*.prod-back {
    position: absolute;
    top: 0;
    background-color: rgb(58,56,56,);
    opacity: 0;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    transition: opacity 2s easy-out 0;
}
.prod-back:hover {
    opacity: .8;
}*/
/*footer fixation-5*/
.container {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.main {
	flex: 1 0 auto;
}
footer {
	flex: 0 0 auto;
}
/*!footer fixation-5*/
.string {
    padding: 0 230px;
   /* margin: 50px 0;*/
}
@media screen  and (max-device-width:960px) {
    .string {
    padding: 0 120px;
    }
}
@media screen  and (max-device-width:740px) {
    .string {
    padding: 0 30px;
    }
}
/*
.string.fist {margin-top: 0;}
.string.last {margin-bottom: 0;}
*/
.menu-item {
    list-style-type: none;
}
.horizontal>.menu-item {
    display: inline-block;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
a:link, a:hover, a:active, a:visited {
    text-decoration:none;
    color:#222222;
}
.container {
    max-width: 1600px;
    margin: 0 auto;
    
}
.flex-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center
}
.around {
    justify-content: space-around;
}
.between {justify-content: space-between;}
/*Header*/
header>div{
    height: 100px;
    
}
#logo{
font-size: 27px;
line-height: 50px;
font-weight: 300;
letter-spacing: 0.025em;
color: #222222;
}
/*My override styles for Bootstrap*/
.dropdown-item.active, .dropdown-item:active {
	color: none;
	text-decoration: none;
	background-color: none;
}
/*! override styles for Bootstrap*/
/*#logo>a>img{
    position: relative;
    top: 25px;
}
#logo>a>span{
    position: relative;
    top: 15px;
}*/
header>div>* {display: inline-block; vertical-align: bottom; }
#browse {
    background-image: url("img/browse-bkgd.jpg");
    width: 87px;height: 38px;background-color: #cdcdcc; border: 1px solid #e6e6e6;border-radius: 3px 0px 0px 3px;
    background-image: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%);
    margin: 0 2px 0 37px;
    font-size: 14px;line-height: 38px;font-weight: 300;letter-spacing: 0.025em;
    padding-left: 14px;
    color: #222222;
}
form#search>input{display: inline-block;vertical-align: bottom}
form#search>input[name="term"] {width:280px; height: 38px; padding-left: 5px; font-size:14px;}
form#search>input[type="image"] {
    border: 1px solid black;
    height: 36px
}
#account img, #account #count {
    display: inline-block;
}
/*#account img {
	position: relative;
	top: 21px;
}*/
#account #count {
    width: 19px;height: 19px;background-color: #f16d7f;
    font-size: 12px;line-height: 19px;font-weight: 700; color: #ffffff;
    text-align: center;
    border-radius: 9px;
}
#account #myac {
    background-image: url("img/myac-bkgd.jpg");
    margin: 31px 0 0 17px;
    padding: 13px 12px 11px 19px;
    color: #ffffff;
}
ul#top {height: 51px; text-align: center}
#top>li {margin: 20px 15px; text-transform: uppercase;}
/*The brand lux-fashion*/
div#lux-fashion {
    height: 613px;
    background-image: url("img/lux-fashion-bkgd.jpg");
    background-position: right;
    margin-bottom: 100px;
}
div#lux-fashion>div {
    border-left:12px solid #f16d7f;
    padding-left:12px;
    line-height: 1.2;font-weight: 900;letter-spacing: 0.025em;
    position: relative;
    top: 224px
}
/*div#offerts styling*/
div#offerts {margin-bottom: 100px}
div#offerts>div>div {position: relative;}
div#offerts div.left div.up {margin: 0 10px 10px 0}
div#offerts div.left div.down {margin: 10px 10px 0 0}
div#offerts div.right div.up {margin: 0 0 10px 10px}
div#offerts div.right div.down {margin: 10px 0 0 10px}
@media screen and (max-device-width: 1599px)  {
    div#offerts div.left div.up, div#offerts div.left div.down, 
    div#offerts div.right div.up, div#offerts div.right div.down {margin: 10px}
}
a.text_offert {
    display: block;
    position: absolute;
    top: 26px;
    width: 175px;
    height: 82px;
    background-color: #ffffff;
padding: 16px 20px 0 19px;
    font-size: 18px;line-height: 1.2;font-weight: 900;text-transform: uppercase;letter-spacing: 0.025em;color: #222222;
}
.text_offert span {
    font-size: 30px;color: #f16d7f;
}
/*!div#offerts styling*/
/*fetured items styling*/
#fetured-items>h2, #fetured-items>h5 {
    text-align: center;
}
#fetured-items div.items {
    width: 261px;
    margin-top: 60px;
    overflow-x: hidden;
    position: relative;
}
#fetured-items .items>.prod-link {display:block}
#fetured-items .items .prod-back {
    position: absolute;
    top: 98px;
    display:none;
    justify-content: center;
    width:100%;
    font-size: 13px;line-height: 39px;font-weight: 700;color: #ffffff;
    z-index: 2;
    background-color: coral;
}
.items:hover {filter:brightness(50%)}
#fetured-items .items:hover .prod-back {display: flex;}
/*#fetured-items .items a.prod-back {
    display: block;
    width: 123px;height: 39px;border: 1px solid #ffffff;
    
}
#fetured-items .items .prod-back>a>img {
    display: inline-block;
    position: relative;
    top: 6px;
}*/
.name,.price {
    margin: 18px 0 0 14px;
}
.name {
    font-size: 13px;line-height: 1.2;font-weight: 400;text-transform: uppercase;color: #222222;
}
.price {
    font-size: 16px;line-height: 1.2;font-weight: 700;text-transform: uppercase;color: #f16d7f;
}
#browse-all {
    width: 212px;
height: 48px;
background-color: #f16d7f;
    margin: 80px auto 115px;
    font-size: 16px;line-height: 48px;font-weight: 700;letter-spacing: 0.025em;color: #ffffff;
    text-align: center;
}
#offer-for-woman {margin-bottom: 100px; min-height: 529px;}
/*#offer-for-woman>div>div {display:inline-block;}*/
#offer-for-woman #picture {
    width: 767px;
    height: 529px;
    position: relative;
    background-image: url(img/30_offer_for_woman.jpg);
    background-position: right;
}
#offer-for-woman #picture div {
    font-size: 53.7px;line-height: 1.2;font-weight: 700;letter-spacing: 0.025em;color: #ffffff;
    position: absolute;
    top: 145px;
    left: 40px;
}
#offer-for-woman #offer-text {width: 373px; height: 529px; background-color: #222224;}
@media screen and (max-device-width: 1598px) {
    #offer-for-woman #offer-text {width: 100%;
        max-width: 767px;
        height: auto;
        padding-bottom: 10px;
    }
}
#offer-for-woman #offer-text * {color: #fbfbfb;}
#offer-for-woman #offer-text>ul {
    padding: 25px 25px 0 60px;
}
#offer-for-woman #offer-text>ul>li {list-style-type: none;
    
    font-size: 14px;line-height: 24px;font-weight: 300;letter-spacing: 0.025em;
}
#subsribe {
    background-image: url(img/subscribe-bkgd.png);
    height: 438px;
    margin-bottom: 100px;
}
#burhan {width:500px; margin-top:50px}
#burhan>* {display: inline-block; vertical-align: top;}
#burhan>div {font-size: 16px;line-height: 26px;font-weight: 400;font-style: italic;letter-spacing: 0.025em;margin:12px 0 0  28px; width: 386px;}
#subsribe form {font-size: 14px;line-height: 5px; width: 420px}
#subsribe form input[type="email"] {
    width: 282px;height: 46px;background-color: #e1e1e1;border-radius: 23px 0 0 23px;
    padding-left: 28px;
    border: 1px solid black;
    display: inline-block;
}
#subsribe form input[type="submit"] {
   font-size: 14px;line-height: 46px;font-weight: 400;letter-spacing: 0.025em;color: #ffffff;
    background-color:#f16d7f;
    width: 104px;height: 50px;
    border-radius: 0 25px 25px 0;  
}
#bottom-menu {MARGIN-BOTTOM: 100px;}
#bottom-menu p {font-family: Lato;
font-size: 14px;
line-height: 24px;
font-weight: 300;
letter-spacing: 0.025em;
color: #898989;}
#bottom-menu h4 {margin-bottom: 45px}
#bottom-menu li.menu-item {font-size: 16px;line-height: 59px;font-weight: 400;letter-spacing: 0.025em;color: #898989;}
#copyright-socicons {background-color: #e6e6e6}
#copyright-socicons>div {min-height: 80px}
#socicons a {
    width: 32px;
    height: 32px;
    display: inline-block;
    margin: auto 4px;
    text-align: center ;
    font-size: 16px;
    background-color:#ffffff;
    line-height: 32px;
}
#socicons a i {color: #b2b2b2;}
#socicons a:hover {background-color: #f16d7f;}
#socicons a:hover i {color: #ffffff; }